body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.judul {
  background-color: #9c835f;
  color: #f9b23d;
  padding-left: 250px;
  padding-top: 20px;
  font-size: 23px;
  letter-spacing: 1px;
  margin-top: -20px;
}

.judul h3 {
  margin-top: -38px;
}

.leftIcon {
  position: relative;
  margin-top: 30px;
  margin-left: -150px;
}

.leftIcon img {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  margin-top: -20px;
}

.container {
  background-color: #9c835f;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: space-between;
}

.container img {
  height: 80px;
  width: 100px;
  margin-top: 20px;
  margin-left: 12px;
}

.box {
  position: relative;
  border: 0px solid black;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  align-items: center;
  line-height: 150px;
  margin-top: 150px;
  margin-bottom: -90px;
  margin-left: 250px;
  margin-right: 430px;
  background-color: #9c835f;
}

.boxCom {
  position: relative;
  border: 0px solid black;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  align-items: center;
  line-height: 150px;
  margin-top: 150px;
  margin-bottom: -90px;
  margin-left: 200px;
  margin-right: 330px;
  background-color: #9c835f;
}

.player,
.computer {
  margin-top: 10px;
}

.announ {
  display: flex;
  margin-left: 290px;
  margin-right: -70px;
  margin-top: -400px;
  font-size: 30px;
}

.reseter img {
  height: 71px;
  width: 77px;
  margin-top: 550px;
  margin-left: -820px;
}

.player h1 {
  margin-left: 250px;
  margin-bottom: -90px;
  margin-top: 35px;

}

.computer h1 {
  margin-left: 175px;
  margin-top: 35px;
  margin-bottom: -90px;
}

.comStyle,
.playerStyle,
.drawStyle {
  color: white;
  text-align: center;
  width: 250px;
  height: 120px;
  font-size: 40px;
  border: 0px solid white;
  border-radius: 10px;
  background-color: #246d2c;
  transform: rotate(-30deg);
  padding-top: 17px;
}

.drawStyle {
  line-height: 100px;
}

.vsStyle {
  color: red;
  font-size: 90px;
  width: 250px;
  height: 100px;
  text-align: center;
}